<% if notice %>
  <article class="message is-primary">
    <div class="message-body">
      <p><%= notice %></p>
    </div>
  </article>
<% end %>
<section class="about">
  <h1>Welcome to MicroPhotos</h1>
</section>